.DS_Store
term7/mmod/.ipynb_checkpoints/lab1-checkpoint.ipynb
venv/
term7/mmod/.virtual_documents/lab1.ipynb
term7/mzi/mzi/mzi.xcodeproj/xcuserdata/saisuicied.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcworkspace
xcuserdata/
term7/mzi/lab2/__pycache__
term7/saio/saio/saio.xcodeproj/xcshareddata
term7/mzi/helpers/__pycache__
term7/mzi/algorithms/__pycache__
__pycache__
