@model IEnumerable<Tweet> 

@{
    ViewData["Title"] = "Home";
}

<div class="text-left mt-3">
    <h3 class="display-6">@ViewData["Title"]</h3>
</div>
<hr/>

@foreach (var tweet in Model)
{
    await Html.RenderPartialAsync("Tweet", tweet);
    <hr/>
}