@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Tweet> 
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="text-left mt-3">
    <h3 class="display-6">@ViewData["Title"]</h3>
</div>
<hr/>
<div style="overflow-y: scroll; height: 730px;">
     @foreach (var tweet in Model)
        {
            @await Component.InvokeAsync("Tweet", new { id = tweet.Id })
            <hr/>
        }
</div>
