{% extends 'main/base.html' %}
{% block content %}
    <h1>{{ author  }}</h1>
    <h3 style="margin-top: 40px">Books by this author</h3>
    <hr>
    {% for book in author.book_set.all %}
        <div class="card shadow border-primary mb-3" style="max-width: 20rem; margin-top: 30px;">
            <div class="card-header">
                <a class='book-card-title' href="{% url 'book_detail' pk=book.pk %}">{{ book.name }}</a>
            </div>
            <div class="card-body">
                <p class="card-title"><strong>Author:</strong> {{ book.author }}</p>
                <p class="card-text"><strong>Geners:</strong> {{ book.get_genres_string }}</p>
                <p class="card-text"><strong>Price:</strong> {{ book.get_price }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

