{% extends 'main/base.html' %}
{% block content %}
    <div class="post">
        <h1>{{ book.name }}</h1>
        <p><strong>Author:</strong> <a href="{% url 'author_detail' book.author.pk %}">{{ book.author }}</a></p>
        <p><strong>Publication Date:</strong> {{ book.publication_date }}</p>
        <p><strong>Desctiption:</strong></p>
        <p>{{ book.description }}</p>
        <p><strong>Amount of Pages:</strong> {{ book.pages }}</p>
        <p><strong>Geners:</strong> {{ book.get_genres_string }}</p>
        <p><strong>Price:</strong> {{ book.get_price }}</p>
        
        <h4>Copies</h4>
        {% if books %}
            {% for copy in books %}
                <hr>
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <p class="
                                {% if copy.status == 'av' %}
                                text-success
                                {% else %}
                                text-warning
                                {% endif %}">
                                {{ copy.get_status_display }}
                            </p>
                            <p><strong>ID:</strong> {{ copy.id }}</p>
                            {% if copy.back_date %}
                                {% if not copy.is_expired %}
                                    <p><strong>Back Date:</strong> {{ copy.back_date }}</p>
                                {% else %}
                                    <p class="text-danger"><strong>Back Date:</strong> {{ copy.back_date }}</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class='col-md-6'>
                            {% if copy.status == 'av' %}
                                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addModal">
                                      Rent this copy
                                    </button>
                                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="addModalLabel">Are you sure want to rent this book?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                             <div class="modal-body">
                                                <strong>That's will cost you {{ book.get_price }}</strong>
                                             </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <a type="button" class="btn btn-primary float-right" href="{% url 'book_add' pk=copy.id book_id=book.id %}">
                                                  Rent
                                             </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                            {% elif copy.status == 'add' %}
                                    <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#removeModal">
                                      Remove from library
                                    </button>
                                    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are you sure want to bring this book back?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <a type="button" class="btn btn-danger float-right" href="{% url 'book_remove' pk=copy.id book_id=book.id %}">
                                                  Remove
                                              </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %} 
        {% else %}
            <p>No copies of this book available</p>
        {% endif %}
    </div>
{% endblock %}