{% extends 'main/base.html' %}
{% block content %}
    <div class="post">
        <h1>{{ book.name }}</h1>
        <p><strong>Author:</strong> <a href="{% url 'author_detail' book.author.pk %}">{{ book.author }}</a></p>
        <p><strong>Publication Date:</strong> {{ book.publication_date }}</p>
        <p><strong>Desctiption:</strong></p>
        <p>{{ book.description }}</p>
        <p><strong>Amount of Pages:</strong> {{ book.pages }}</p>
        <p><strong>Geners:</strong> {{ book.get_genres_string }}</p>
        <p><strong>Price:</strong> {{ book.get_price }}</p>
        
        <h4>Copies</h4>
        {% if books %}
            {% for copy in books %}
                <hr>
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <p class="
                                {% if copy.status == 'av' %}
                                text-success
                                {% else %}
                                text-warning
                                {% endif %}">
                                {{ copy.get_status_display }}
                            </p>
                            <p><strong>ID:</strong> {{ copy.id }}</p>
                            {% if copy.back_date %}
                                {% if not copy.is_expired %}
                                    <p><strong>Back Date:</strong> {{ copy.back_date }}</p>
                                {% else %}
                                    <p class="text-danger"><strong>Back Date:</strong> {{ copy.back_date }}</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class='col-md-6'>
                            {% if copy.status == 'av' %}
                                <a type="button" class="btn btn-primary float-right" href="{% url 'book_add' pk=copy.id book_id=book.id %}">
                                    Add to Library
                                </a>
                            {% elif copy.status == 'add' %}
                                <a type="button" class="btn btn btn-danger float-right" href="{% url 'book_remove' pk=copy.id book_id=book.id %}">
                                    Remove from Library
                                </a>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %} 
        {% else %}
            <p>No copies of this book available</p>
        {% endif %}
    </div>
{% endblock %}