{% extends 'main/base.html' %}
{% block content %}
{#     <div>#}
{#         {% if easter_egg %}#}
{#             <h1>This site is made by @kirillgorbachyonok</h1>#}
{#         {% endif %}#}
{#     </div>#}
        {% if user.is_authenticated %}
            {% if not user.is_superuser %}
                <h2>Recommendations for you, {{ user.profile.name }}</h2>
                <hr>
                {% if books %}
                    <div class="box">
                        {% for book in books %}
                            <div class="card card-in-box border-primary mb-3" style="max-width: 20rem;">
                                <div class="card-header">
                                    <a class='book-card-title' href="{% url 'book_detail' pk=book.pk %}">{{ book.name }}</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-title"><strong>Author:</strong> {{ book.author }}</p>
                                    <p class="card-text"><strong>Price:</strong> {{ book.get_price }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No recommendations for you :c</p>
                {% endif %}
            <h2 style="margin-top: 30px">Rent period is about to expire</h2>
            <hr>
                {% if recently_taken %}
                    <div class="box">
                        {% for r_book in recently_taken %}
                            <div class="card card-in-box border-primary mb-3" style="max-width: 20rem;">
                                <div class="card-header">
                                    <a class='book-card-title' href="{% url 'book_detail' pk=r_book.book.pk %}">{{ r_book.book.name }}</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-title"><strong>Author:</strong> {{ r_book.book.author }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>You're not taking anything in a while</p>
                {% endif %}
            {% endif %}


            {% if user.is_superuser %}
                <h2>Admin Dashboard</h2>
                <hr>
                <div class="row">
                    <div class="col-sm-6" url-enpoint="{% url 'chart_data_get' %}">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
            {% endif %}
        {% endif %}

             <script>
                var endpoint = "{% url 'chart_data_get' %}";
                var defaultData = [];
                var labels = []
                $.ajax({
                    method: "GET",
                    url: endpoint,
                    success: function (data) {
                        labels = data.labels
                        defaultData = data.default
                        setChart()
                    }
                });

                function setChart() {
                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: '# of Votes',
                                data: defaultData,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                }


            </script>
{% endblock %}