@model Twitter.ViewModels.ChangePasswordViewModel

<div class="text-left mt-3">
    <h3 class="display-6">Change password for @@@Model.UserName</h3>
</div>
<hr/>
<form asp-action="ChangePassword" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserName" />
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">New password</label>
        <input type="password" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>