@using Microsoft.AspNetCore.Mvc.Localization
@model Twitter.ViewModels.ChangePasswordViewModel
@inject IViewLocalizer Localizer

<div class="text-left mt-3">
    <h3 class="display-6">@Localizer["ChangePassword"] @@@Model.UserName</h3>
</div>
<hr/>
<div style="overflow-x: hidden; overflow-y: scroll; height: 720px;">
    <form asp-action="ChangePassword" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserName" />
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">@Localizer["NewPassword"]</label>
            <input type="password" asp-for="NewPassword" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
        </div>
    </form>
</div>