@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Montserrat', sans-serif;
}

.book-card-title {
    font-weight: bold;
}

.content-container {
    margin: 3%;
}

.userpic {
    margin-left: 11px;
}

.drop-menu {
    margin-top: 13px;
}

.profile-image {
    width: 45px;
    height: 45px;
}

.profile-image-big {
    width: 200px;
    height: 200px;
}

.dropdown-toggle {
    color: white;
}