@using Microsoft.AspNetCore.Identity
@model Twitter.ViewModels.ChangeRoleViewModel

<div class="text-left mt-3">
    <h3 class="display-6">Change role for @@@Model.UserName</h3>
</div>
<hr/>
 
<div style="overflow-x: hidden; overflow-y: scroll; height: 720px;">
   <form asp-action="Edit" method="post">
       <input type="hidden" name="userId" value="@Model.UserId" />
       <div class="form-group">
           @foreach (IdentityRole role in Model.AllRoles)
           {
               <input class="text-left" type="checkbox" name="roles" value="@role.Name"
                      @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") /> @role.Name<br />
           }
       </div>
       <button type="submit" class="btn btn-primary">Save</button>
   </form> 
</div>
