@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: auto;
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
}

.button-confirm {
    text-align: center;
    padding-top: 22%;
}